/* Sajid Ahmadzai Game CSS file */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header, footer {
    width: 100%;
    background-color: #0f9c20;
    color: #1f12cf;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #ae34db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #2980B9;
}

#output, #history, #instructions {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#historyList {
    list-style-type: none;
    padding: 0;
}
